@import 'base/_normalize.scss';
@import 'base/_vars.scss';
@import 'base/_typography.scss';
@import 'base/_layout.scss';

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

.page-container {
    height: 100vh;
    width: 100%;
}

.screensaver-carousel {
    height: 100%;
    overflow: hidden;
    outline: none;
    .flickity-viewport, .flickity-slider {
        height: 100% !important;
    }
    &--item {
        height: 100%;
        width: 100%;
        background: red;
        display: flex;
        align-items: center;
        pointer-events: none;
        h1 {
            transform: translate(0px, -30px);
            opacity: 0;
            transition: 500ms ease-in-out;
            transition-property: transform,opacity;
            transition-delay: 0.4s;
        }
        .meta {
            transform: translate(0px, 30px);
            opacity: 0;
            transition: 500ms ease-in-out;
            transition-property: transform,opacity;
            transition-delay: 0.8s;
        }
        a {
            transform: translate(0px, 30px);
            opacity: 0;
            transition: 500ms ease-in-out;
            transition-property: transform,opacity;
            transition-delay: 1.1s;
        }
        &.is-selected {
            pointer-events: all;
            h1, .meta, a {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
        .content {
            width: 100%;
            padding: 0 10%;
        }
    }
}

.meta-holder {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }
    .meta {
        @extend h5;
        &.artist {
            font-weight: 700;
        }
    }
}