@import 'base/_normalize.scss';
@import 'base/_vars.scss';
@import 'base/_typography.scss';
@import 'base/_layout.scss';

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

.page-container {
    height: 100vh;
    width: 100%;
}

.screensaver-carousel {
    height: 100%;
    overflow: hidden;
    outline: none;
    .flickity-viewport, .flickity-slider {
        height: 100% !important;
    }
    &--item {
        height: 100%;
        width: 100%;
        background: red;
        display: flex;
        align-items: center;
        pointer-events: none;
        &.is-selected {
            pointer-events: all;
        }
        .content {
            width: 100%;
            padding: 0 10%;
        }
    }
}

.meta-holder {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }
    .meta {
        @extend h5;
    }
}